@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*
top
*/
.topbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    margin-top:20px;
    max-width: 100vw;

}
.name{
    font-size: 24px;
    font-weight: 700;
    color: #0f172a;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    align-items: center;   
    gap: 10px;
}
.name img{
    height: 50px;
    width: 50px;
}
.formP{
    font-size: 24px;
    font-weight: 700;
    color: #0f172a;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;   
}
/*
middle
*/
.form{
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.Dlabels{
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.Fin input,
.Fin select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
.submit{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.submit input {
  width: auto;
  padding:10px 20px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
  display: inline-block;
  
}
.submit input:hover {
  background-color: #0f0877;
}
